.reset-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  ion-item {
    --background: var(--ion-color-dark);
    --border-radius: 8px;
    --padding-start: 16px;
    --padding-end: 16px;
    margin-bottom: 16px;
  }
  
  ion-button {
    margin-top: 24px;
    --background: var(--ion-color-brown);
  }