<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">ESTUDIANTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">A ESCANEAR!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="welcome-card">
    <h1>Bienvenido {{username}}!</h1>
    <ion-img src="assets/img/bienvenido-student.png" alt="User Types"></ion-img>
    <p>Preparate para marcar tu asistencia!</p>
    <ion-button routerLink="/qr-scanner">ESCANEA EL QR</ion-button>
  </div>
</ion-content>
